:root {
  --primary-color: #212121;
  --secondary-text-color: #757575;
  --button-bg-color: #2196F3;
  --hover-focus-btn-bg-color: #188CE8;
  --white-color: #fff;
  --btn-bg-color: #F5F4FA;
  --logo-secondary-color: #000000;
  --bg-color: #2F303A;
  --hidden-title: hidden;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-fonts: "Roboto", sans-serif;
  --second-fonts: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-fonts);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.main-btn:hover, .main-btn:focus {
  background-color: var(--hover-focus-btn-bg-color);
}

.main-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-color);
  margin-bottom: 50px;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.social-list__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.social-list__item-link:hover, .social-list__item-link:focus {
  outline: none;
  background-color: #2196F3;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social-list__item-link:hover .social-list__icon, .social-list__item-link:focus .social-list__icon {
  outline: none;
  fill: #fff;
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list-footer__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.social-list-footer__item-link:hover, .social-list-footer__item-link:focus {
  outline: none;
  background-color: #2196F3;
}

.social-list-footer__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.social-list-footer__item-link:hover .social-list-footer__icon, .social-list-footer__item-link:focus .social-list-footer__icon {
  outline: none;
  fill: #fff;
}

.social-list-footer__item:not(:last-child) {
  margin-right: 10px;
}

.logo {
  margin-right: 92px;
  font-family: var(--second-fonts);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--button-bg-color);
}

.logo_part-header {
  color: var(--logo-secondary-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: var(--second-fonts);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--button-bg-color);
}

.logo-part-footer {
  color: var(--white-color);
}

.subscription {
  margin-left: 94px;
}

.sub-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  -webkit-transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.sub-input:focus {
  outline: none;
  border-color: var(--button-bg-color);
}
.sub-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-button {
  position: relative;
}

.sub-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  margin-left: 12px;
  background-color: var(--button-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.sub-btn:hover, .sub-btn:focus {
  outline: none;
  background-color: var(--hover-focus-btn-bg-color);
}

.sub-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: scale 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: scale 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), scale 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), scale 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(50%, 50%) scale(5);
          transform: translate(50%, 50%) scale(5);
  opacity: 0;
}

.modal-close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  padding: 0;
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal-close-btn:hover {
  fill: var(--hover-focus-btn-bg-color);
}
.modal-close-btn:focus {
  outline: none;
  fill: var(--hover-focus-btn-bg-color);
  border-color: var(--hover-focus-btn-bg-color);
}

.contact-form-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form-field {
  display: block;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: outline 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: outline 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.contact-form-input:focus {
  outline: none;
  border-color: var(--hover-focus-btn-bg-color);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.contact-form-input:focus + .contact-form-icon {
  fill: var(--hover-focus-btn-bg-color);
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: outline 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: outline 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--hover-focus-btn-bg-color);
}
.contact-form-message::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-form-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
.contact-form-label-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
}
.contact-form-checkbox:checked + .contact-form-label-checkbox::before {
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
  border: none;
}
.contact-form-checkbox:focus + .contact-form-label-checkbox::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.contact-form-link {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--button-bg-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.contact-form-submit-btn:hover {
  background-color: var(--hover-focus-btn-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: var(--primary-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.current::after {
  content: "";
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--logo-secondary-color);
}
.nav-link:hover, .nav-link:focus {
  outline: none;
  color: var(--button-bg-color);
}

.nav-link.current {
  color: var(--button-bg-color);
}

.link-list {
  text-decoration: none;
  color: inherit;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact-list__link {
  display: block;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list__mail {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list__number {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icon-mail {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-top: 4px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.contact-list__mail:hover .contact-icon-mail {
  outline: none;
  fill: #2196F3;
}

.contact-icon-number {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-top: 2px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.contact-list__number:hover .contact-icon-number {
  outline: none;
  fill: #2196F3;
}

.contact {
  margin-left: auto;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts:hover {
  outline: none;
  color: var(--button-bg-color);
}

.hero-section {
  text-align: center;
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.about-hero-card {
  -ms-flex-preferred-size: calc((100% - 120px) / 4);
      flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.about-hero-card::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.about-section {
  padding-top: 0;
}

.about {
  text-align: center;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.about-card {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.about-img {
  position: relative;
}

.about-img-title {
  display: block;
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.16;
  color: var(--white-color);
  text-transform: uppercase;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.employees-section {
  background-color: var(--btn-bg-color);
}

.employees-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.employees-card {
  -ms-flex-preferred-size: calc((100% - 120px) / 4);
      flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.employees-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.section-hero {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-color);
}

.section-list-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.16;
  color: var(--title-color);
  text-transform: uppercase;
}

.section-list-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.section-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-list-item {
  display: block;
  width: 170px;
  height: 92px;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.client-list-link:hover, .client-list-link:focus {
  outline: none;
  border-color: #2196F3;
}

.client-icon {
  margin: 16px 32px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.client-list-link:hover .client-icon, .client-list-link:focus .client-icon {
  outline: none;
  fill: #2196F3;
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address:hover {
  outline: none;
  color: var(--button-bg-color);
}

.address-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacts-footer {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #F5F4FA;
}/*# sourceMappingURL=main.css.map */