:root {
  --primary-color: #212121;
  --secondary-text-color: #757575;
  --button-bg-color: #2196F3;
  --hover-focus-btn-bg-color: #188CE8;
  --white-color: #fff;
  --btn-bg-color: #F5F4FA;
  --logo-secondary-color: #000000;
  --bg-color: #2F303A;
  --hidden-title: hidden;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-fonts: "Roboto", sans-serif;
  --second-fonts: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-fonts);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 92px;
  font-family: var(--second-fonts);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--button-bg-color);
}

.logo_part-header {
  color: var(--logo-secondary-color);
}

.gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.gallery-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.gallery-btn-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: 4px;
  padding: 6px 25px;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.gallery-btn-list:hover, .gallery-btn-list:focus {
  outline: none;
  color: var(--white-color);
  background-color: var(--button-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-card {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery-card-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.gallery-card-link:hover, .gallery-card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-content-wrapper {
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.project-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
}

.sliding {
  position: relative;
  overflow: hidden;
}

.sliding-box {
  position: absolute;
  width: 370px;
  height: 294px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.gallery-card:hover .sliding-box {
  -webkit-transform: translateY(-295px);
          transform: translateY(-295px);
}

.sliding-text {
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: var(--second-fonts);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--button-bg-color);
}

.logo-part-footer {
  color: var(--white-color);
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list-footer__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.social-list-footer__item-link:hover, .social-list-footer__item-link:focus {
  outline: none;
  background-color: #2196F3;
}

.social-list-footer__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.social-list-footer__item-link:hover .social-list-footer__icon, .social-list-footer__item-link:focus .social-list-footer__icon {
  outline: none;
  fill: #fff;
}

.social-list-footer__item:not(:last-child) {
  margin-right: 10px;
}

.subscription {
  margin-left: 94px;
}

.sub-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  -webkit-transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.sub-input:focus {
  outline: none;
  border-color: var(--button-bg-color);
}
.sub-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-button {
  position: relative;
}

.sub-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  margin-left: 12px;
  background-color: var(--button-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.sub-btn:hover, .sub-btn:focus {
  outline: none;
  background-color: var(--hover-focus-btn-bg-color);
}

.sub-icon {
  margin-left: 10px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  color: var(--primary-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.current::after {
  content: "";
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--logo-secondary-color);
}
.nav-link:hover, .nav-link:focus {
  outline: none;
  color: var(--button-bg-color);
}

.nav-link.current {
  color: var(--button-bg-color);
}

.link-list {
  text-decoration: none;
  color: inherit;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact-list-link {
  display: block;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list-mail {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-list-number {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icon-mail {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-top: 4px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.contact-list-mail:hover .contact-icon-mail {
  outline: none;
  fill: #2196F3;
}

.contact-icon-number {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-top: 2px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.contact-list-number:hover .contact-icon-number {
  outline: none;
  fill: #2196F3;
}

.contact {
  margin-left: auto;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts:hover {
  outline: none;
  color: var(--button-bg-color);
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address:hover {
  outline: none;
  color: var(--button-bg-color);
}

.address-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacts-footer {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #F5F4FA;
}/*# sourceMappingURL=portfoilio.css.map */