.footer {
    background-color: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.contacts-footer {
    font-style: normal;
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
    .address-social {
        display: flex;
        margin-bottom: 60px;
    }

    .contacts-wrapper {
        margin-left: 70px;
        text-align: center;
    }

    .contacts-footer {
        display: block;
        text-align: center;
    }

    .footer-social {
        
        margin-left: 165px;
    }
    .footer-title {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer-list-item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    .footer-wrapper {
        display: flex;
    }
    .contacts-wrapper {
        margin-right: 70px;
    }
    .address-social {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .footer-list-item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 60px;
        }
    }
    .address {
        display: block;
        text-align: center;
    }
    .contacts-footer {
        display: block;
        text-align: center;
    }

    .footer-title {
        display: block;
        text-align: center;
    }
}


// .footer-list-item:not(:last-child) {
//     margin-bottom: 9px;
// }

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);
    text-decoration: none;
    transition: color 250ms var(--timing-function);

    &:hover {
        outline: none;
        color: var(--button-bg-color);  
    }
}


.contacts-footer {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

// .social-footer {
//     display: flex;
//     margin-left: 70px;
// }

.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #F5F4FA;
}