.nav-link {
    position: relative;
    font-weight: 500;
    color: var(--primary-color);
    transition: color 250ms var(--timing-function);
}

.current::after {
    content: "";
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    font-weight: 500;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--logo-secondary-color);

    &:hover,
    &:focus {
        outline: none;
        color: var(--button-bg-color);
    }
}

.nav-link.current {
    color: var(--button-bg-color);
}

.link-list {
    text-decoration: none;
    color: inherit;
}

.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-list__link {
    display: block;
}

.contacts {
    display: flex;
    align-items: center;
}

.contact-list__mail {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list__number {
    min-width: min-content;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-mail {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding-top: 4px;
    fill: var(--secondary-text-color);
    transition: fill 250ms var(--timing-function);

    .contact-list__mail:hover & {
        outline: none;
        fill: #2196F3;
    }
}

.contact-icon-number {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding-top: 2px;
    fill: var(--secondary-text-color);
    transition: fill 250ms var(--timing-function);

    .contact-list__number:hover & {
        outline: none;
        fill: #2196F3;
    }
}

.contact {
    margin-left: auto;
}

.contacts {
    font-style: normal;
    font-weight: 500;
    color: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);

    &:hover {
        outline: none;
        color: var(--button-bg-color);
    }
}
