.sliding {
    position: relative;
    overflow: hidden;
}

.sliding-box {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 250ms var(--timing-function);

    .gallery-card:hover & {
        transform: translateY(-294px);

        @media screen and (max-width: 767px) {
            transform: translateY(-294px);
        }
        @media screen and (max-width: 479px) {
            transform: translateY(-100%);
        }
    }

    
    
}

.sliding-text {
    width: 370px;
    height: 294px;
    padding: 63px 24px;
    @include font (18px, 400, 28px);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    @media screen and (max-width: 767px) {
        width: 450px;
        height: 100%;
    }
    @media screen and (max-width: 479px) {
        width: 100%;
        padding-top: 37px;
        height: 100%;
        font-size: 14px;
    }
}