:root {
    --primary-color: #212121;
    --secondary-text-color: #757575;
    --button-bg-color: #2196F3;
    --hover-focus-btn-bg-color: #188CE8;
    --white-color: #fff;
    --btn-bg-color: #F5F4FA;
    --logo-secondary-color: #000000;
    --bg-color: #2F303A;
    --hidden-title: hidden;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-fonts: 'Roboto', sans-serif;
    --second-fonts: 'Raleway', sans-serif;
}